@font-face {
    font-family: AlbertSans;
    src: url("fonts/AlbertSans-LightItalic.ttf");
} 

a {
    text-decoration: none;
}
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7EB;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.items {
    display: flex;
    text-align: center;
    margin-right: 4vw;
    align-items: center;
    gap: 2vw;
}

.header div a {
    flex: 1;
    padding: 0 10px;
}

.header a {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 700;
}

#nutLogo {
    border-radius: 15px;
    width: 48px;
    height: auto;
    margin-left: 4vw;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
    display: flex;
    padding-right: 10px;
    align-items: center;

}

.logo h1 {
    padding-left: 8px;
} 

.quoteThing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
    background-color: #E5E7EB;
    height: 80vh;
    justify-content: center;
}

#testimonial {
    font-family: AlbertSans;
    font-size: 32px;
    font-weight: 100;
    color: #1f2937;
    max-height: 100%;
}

#name {
    margin-left: auto;
    font-size: 24px;
    color: #1f2937;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #1f2937;
    height: 10vh;
    position: relative;
    bottom: 0;
    width: 100%;
}

#copyrightText {
    margin-right: 1.5vw;
    color: #E5E7EB;
    font-size: 12px;
    font-weight: bold;
}

#github:hover {
    transform: scale(1.2);
}

@media (max-width: 500px) {
    .header a {
        font-size: 12px;
    }
    .items {
        flex-direction: column;
        gap: 1vh;
    }
    #testimonial {
        font-size: 1.5em;
    }
    #name {
        font-size: 1em;
    }
    .quoteThing {
        padding: 0 24px;
    }
}