a {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;}
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.header div a {
    flex: 1;
    padding: 0 10px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
}

#nutLogo {
    padding-right: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.underHeader {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.underHeader .left {
    flex: 1;
    color: #E5E7EB;
}
.right {
    flex: 1;
    
}

.right img {
    border-radius: 25px;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0px 0px 0px;
}

.left p {
    font-size: 18px;
    font-weight: 300;
}

.left h2 {
    border-radius: 25px;
    background: #3882f6;
    padding: 20px;
    width: 85px;
    height: auto;
}

.fourPictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.fourPictures img {
    flex: 1;
    border-radius: 25px;
}
.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}