a {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;}

.viewport {
    width: 100%;
    min-width: 1000px;
    height: auto;
}
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.header div a {
    flex: 1;
    padding: 0 10px;
}

.header a {
    font-size: 1.75vw;
    color: #E5E7EB;
}

#nutLogo {
    padding-right: 20px;
}

.logo {
    font-size: 2vw;
    color: #F9FAf8;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.underHeader {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vh;
}

.underHeader .left {
    flex: 1;
    color: #E5E7EB;
    padding-right: 5vw;
}
.right {
    flex: 1;
    padding: 25px;
}

.right img {
    border-radius: 25px;
    width: 40vw;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0px 0px 0px;
}

.left p {
    font-size: 18px;
    font-weight: 300;
}

.left h2 {
    border-radius: 25px;
    background: #3882f6;
    padding: 20px;
    width: 85px;
    height: auto;
}

.fourPictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}

.fourPictures img {
    flex: 1;
    border-radius: 25px;
    border: 0.75vw solid #3882f6;
    width: 15vw;
}
.pic {
    display: table;
    width: 1%;
}
.text {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-weight: bold;
}