@font-face {
    font-family: AlbertSans;
    src: url("fonts/AlbertSans-LightItalic.ttf");
} 

a {
    text-decoration: none;
}
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7EB;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    height: 10vh;
}

.header div a {
    flex: 1;
    padding: 0 10px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
}

#nutLogo {
    border-radius: 15px;
    width: 48px;
    height: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
    display: flex;
    padding-right: 10px;
    align-items: center;

}

.logo h1 {
    padding-left: 8px;
} 

.fourPictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.fourPictures img {
    border-radius: 25px;
    border: 0.75vw solid #3882f6;
    width: 15vw;
    gap: 1.5vw;
    margin: 0 25px;
}
.pic {
    display: table;
    width: 1%;
}
.text {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-weight: bold;
}

.picturesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-color: #E5E7EB;
    height: 80vh;
}

#picturesThing {
    color: #1f2937;
    font-size: 48px;
    padding: 6vh 0;
    margin: 0;
    text-align: center;
    height: 48px;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #1f2937;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#copyrightText {
    flex: 1;
    color: #E5E7EB;
    font-size: 12px;
    font-weight: bold;
}